{%extends 'base.html'%}

{% block head %}
<title>Team Information</title>
{% endblock %} 

{% block body %}
<header>
    <h1 style="text-align: center;">{{team_info.full_name}}</h1>
</header>
<main>
    <div id="team-info">
        <table>
            <tr>
                <th>Team Name</th>
                <td>{{ team_info.full_name }}</td>
            </tr>
            <tr>
                <th>Abbreviation</th>
                <td>{{ team_info.abbreviation }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ team_info.nickname }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ team_info.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ team_info.state }}</td>
            </tr>
            <tr>
                <th>Year Founded</th>
                <td>{{ team_info.year_founded }}</td>
            </tr>
        </table>
    </div>
    <div class="sortable">
        <div id="team-roster"> 
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Postition</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Birth</th>
                    <th>School</th>
                    <th>Acquired</th>
                </tr>
                {% for index, player in team_ros.iterrows() %}
                <tr>
                    <td><a href="/player/{{player['PLAYER_ID']}}">{{ player["PLAYER"] }}</a></td>
                    <td>{{ player["NUM"] }}</td>
                    <td>{{ player["POSITION"] }}</td>
                    <td>{{ player["HEIGHT"] }}</td>
                    <td>{{ player["WEIGHT"] }}</td>
                    <td>{{ player["BIRTH_DATE"] }}</td>
                    <td>{{ player["SCHOOL"] }}</td>
                    <td>{{ player["HOW_ACQUIRED"] }}</td>
                {% endfor %}
            </table>
        </div>
    </div>
</main>
{% endblock %} 